<!-- Modified from extend base_tailwind.html -->

{%load static%}
<html>  
    <head>  
        <title>Document Upload</title>
        <style>
            .loader {
                border: 16px solid #f3f3f3; /* Light grey */
                border-top: 16px solid #3498db; /* Blue */
                border-radius: 50%;
                width: 120px;
                height: 120px;
                animation: spin 2s linear infinite;
            }
            
            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
            
            </style>
    </head>
    <body>
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Upload document here</h5>
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="id_document_type" class="col-sm-2 col-form-label">Document Type</label>
                    <div class="col-sm-10">
                        <select name="document_type" id="id_document_type" class="form-select">
                            {% for value, label in form.fields.document_type.choices %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_file" class="col-sm-2 col-form-label">File</label>
                    <div class="col-sm-10">
                        <input type="file" name="file" id="id_file" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_document_tags" class="col-sm-2 col-form-label">Document Tags</label>
                    <div class="col-sm-10">
                        <select name="document_tags" id="id_document_tags" class="form-select" multiple>
                            {% for value, label in form.fields.tags.choices %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          Modify Metadata
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="row mb-3">
                                <label for="id_document_meta" class="col-sm-2 col-form-label">Title</label>
                                <div class="col-sm-10">
                                    <input type="text" id="title" placeholder="Title" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                            <label for="id_document_meta" class="col-sm-2 col-form-label">Author(WIP)</label>
                            <div class="col-sm-10">
                                <input type="text" id="author" placeholder="Author" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="id_document_meta" class="col-sm-2 col-form-label">Subject (WIP)</label>
                            <div class="col-sm-10">
                                <input type="text" id="subject" placeholder="Subject" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="id_document_meta" class="col-sm-2 col-form-label">keywords (WIP)</label>
                            <div class="col-sm-10">
                                <input type="text" id="keywords" placeholder="Enter Kerywords divided by ," class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="id_document_meta" class="col-sm-2 col-form-label">Date (WIP)</label>
                            <div class="col-sm-10">
                                <input type="date" id="date" placeholder="Date" class="form-control">
                            </div>
                        </div>
                </div>
                </div>
                </div>
                </div>
                <!-- Add any other form fields here -->
                <div class="row mb-3">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </div>
            </form>
             
                    
                    <div id="spinner" style="display: none;">
                        <div class="loader"></div>
                    </div>        
                    <div id="uploadMessage" style="display: none;">Uploading, please wait... !!DO NOT REFRESH THE PAGE!!</div>
                    <div id="uploadStatus"></div> <!-- For displaying status messages -->

                    <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            var uploadForm = document.getElementById('uploadForm'); // The form
                            uploadForm.addEventListener('submit', function(e) {
                                e.preventDefault(); // Stop the form from submitting normally

                                // Show the upload message and progress bar
                                document.getElementById('uploadMessage').style.display = 'block';
                                document.getElementById('spinner').style.display = 'block';

                                var formData = new FormData(uploadForm);
                                var xhr = new XMLHttpRequest();
                                xhr.open('POST', uploadForm.getAttribute('action'), true);

                                // CSRF token handling (assuming Django template)
                                var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                                xhr.setRequestHeader('X-CSRFToken', csrfToken);

                                xhr.onload = function() {
                                    // Hide the upload message and progress bar
                                    document.getElementById('uploadMessage').style.display = 'none';
                                    document.getElementById('spinner').style.display = 'none';

                                    if (xhr.status === 200) {
                                        try {
                                            var response = JSON.parse(xhr.responseText);
                                            document.getElementById('uploadStatus').innerHTML = response.message;
                                        } catch (e) {
                                            document.getElementById('uploadStatus').innerHTML = 'Received non-JSON response';
                                        }
                                    } else {
                                        try {
                                            var errorResponse = JSON.parse(xhr.responseText);
                                            document.getElementById('uploadStatus').innerHTML = errorResponse.message;
                                        } catch (e) {
                                            document.getElementById('uploadStatus').innerHTML = 'Error during file upload';
                                        }
                                    }
                                };
                                xhr.send(formData);
                            });
                        });
                    </script>       
        </div>
    </div>  
    </body>
</html>