<!DOCTYPE html>
{%load static%}

<html>


    

<head>
    <title>Document Search</title>
    <style>
        .custom-highlight {
            background-color: yellow; 
            font-weight: bold; 
        }

    </style> 
    <!--Tagify -->
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <script>
        function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
        function performSearch() {
            const csrftoken = getCookie('csrftoken');
            // Prevent the default form submission
            event.preventDefault();

            // Show spinner
            $('#loadingSpinner').show();
            // Collect input values
            var data = {
                searchQuery: $('#searchQuery').val(),
                documentType: $('#documentType').val(),
                searchDepth: $('#searchDepth').val(),
                language: $('#language').val(),
                author: $('#author').val(),
                title: $('#title').val(),
                subject: $('#subject').val(),
                date: $('#date').val(),
                exactMatch: $('#exactMatch').is(':checked'),
                semanticSearch: $('#semanticSearch').is(':checked'),
                tags:$('#tags').val(),
                projects:$('#projects').val()
            };
            regex = new RegExp($('#searchQuery').val(), 'gi'); // 'gi' for global and case-insensitive
            // Send an AJAX request
            $.ajax({
                url: '/search/',  // Update with the correct URL to your view function
                type: 'POST',
                headers: {'X-CSRFToken': csrftoken},
                data: data,
                success: function(response) {
                    //hide spinner
                    $('#loadingSpinner').hide();
                    var htmlContent = `
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <i class="bi bi-star me-1"></i> Found <strong> ${response.resultCount} </strong> text piece(s)
                    </div>`;
                    htmlContent += '<hr width="50%" size="1" color="green" />';
                    response.results.forEach(function(group) {
                        var firstResult = group.results[0];
                        htmlContent += '<div class="document-group">';
                        htmlContent += '<button class="collapsible">Document ID: ' + group.document_id + '</button>';
                        htmlContent += '<div class="content">';
                        // Display metadata
                        if (firstResult.Metadata) { 
                                var timestamp = firstResult.Metadata.Updated;
                                var date = new Date(timestamp);
                                htmlContent += '<p><strong>Title: ' + (firstResult.Metadata.Title || 'N/A') + '</strong></p>';
                                htmlContent += '<p><strong>Author: ' + (firstResult.Metadata.Authors || 'N/A') + '</strong></p>';
                                htmlContent += '<p><strong>Updated: ' + date + '</strong></p>';
                            }
                        
                        htmlContent += '<hr />';
                        group.results.forEach(function(doc) {
                            var customhighlightText = doc.Text.replace(regex, '<span class="custom-highlight">' + $('#searchQuery').val() + '</span>');
                            htmlContent += '<div class="result-item">';
                            htmlContent += '<strong>Page Number: ' + doc.Page_number + '</strong>';
                            htmlContent += '<p>' + customhighlightText + '</p>';
                            htmlContent += '<hr />';
                            htmlContent += '</div>';
                        });

                        htmlContent += '</div>';  // Close content div
                        htmlContent += '</div>';  // Close document group div
                    });
                    
                    
                    $('#searchResults').html(htmlContent);
                    $('.collapsible').click(function() {
                        this.classList.toggle('active');
                        var content = this.nextElementSibling;
                        if (content.style.display === "block") {
                            content.style.display = "none";
                        } else {
                            content.style.display = "block";
                        }
                    });
                },
                error: function(error) {
                    //hide spinner
                    $('#loadingSpinner').hide();
                    // Handle errors here
                    console.log(error);
                }
            });
        }
        
        // Attach the function to your form's submit event
        $(document).ready(function() {
            $('#queryForm').submit(performSearch);
        });
    </script>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Search Documents</h5>
        <form id="queryForm" name = "queryForm">
        <!-- Search Input -->
        <div class="row mb-3">
            <label for="id_searchQuery" class="col-sm-2 col-form-label">Serch Term</label>
            <div class="col-sm-10">
                <input type="text" id="searchQuery" name="searchQuery" placeholder="Enter search terms" class="form-control">
            </div>
        </div>
        <!-- Document Type Dropdown -->
        <div class="row mb-3">
            <label for="id_document_type" class="col-sm-2 col-form-label">Document Type</label>
            <div class="col-sm-10">
                <select id="documentType" id="id_document_type" class="form-select">
                    <option value="research_paper" selected>Research Paper</option>
                    <option value="research_book">Research Book</option>
                    <option value="personal_document">Personal Document</option>
                    <option value="others">Others</option>
                </select>
            </div>
        </div>
        <!-- Search depth Dropdown -->
        <div class="row mb-3">
            <label for="id_search_depth" class="col-sm-2 col-form-label">Search Depth</label>
            <div class="col-sm-10">
                <select id="searchDepth" id="id_search_depth" class="form-select">
                    <option value="_chunk_level" selected>Chunk Level</option>
                    <option value="_page_level">Page Level</option>
                    <option value="_document_level">Document Level (WIP)</option>
                </select>
            </div>
        </div>
        <!-- Language Dropdown -->
        <div class="row mb-3">
            <label for="id_document_lang" class="col-sm-2 col-form-label">Document Language</label>
            <div class="col-sm-10">
        <select id="language"class = "form-select">
            <option value="cn">CN</option>
            <option value="en" selected>EN</option>
            <option value="fr">FR</option>
        </select>
            </div>
        </div>

        
        <div class="row mb-3">
            <div class="col-sm-10">
                <!-- Exact Match Toggle -->
              <div class="form-check">
                <label for="exactMatch" class="form-check-label" for="exactMatch">Exact Match</label>
                <input type="checkbox" id="exactMatch" name="exactMatch" class="form-check-input">
              </div>

              <!-- Semantic Search Toggle -->
              <div class="form-check">
                <label for="semanticSearch" class="form-check-label" for="semanticSearch">Semantic Search</label>
                <input type="checkbox" id="semanticSearch" name="semanticSearch" class="form-check-input">
              </div>
            </div>
        </div>
        
        <!-- Additional Criteria -->
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Optinal Criteria
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="row mb-3">
                        <label for="id_document_meta" class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" id="title" placeholder="Title" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                    <label for="id_document_meta" class="col-sm-2 col-form-label">Authors</label>
                    <div class="col-sm-10">
                        <input type="text" id="author" placeholder="Author" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_document_meta" class="col-sm-2 col-form-label"> Categories (WIP) </label>
                    <div class="col-sm-10">
                        <input type="text" id="Categories" placeholder="Categories" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_document_meta" class="col-sm-2 col-form-label">Date (WIP)</label>
                    <div class="col-sm-10">
                        <input type="date" id="date" placeholder="Date" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Document Tags</label>
                    <div class="col-sm-10">
                        <script>
                            var input = document.querySelector('input[name=tags]'),
                                tagify1;
                            var tagOptions = {{ tag_options|safe }};
                            tagify1 = new Tagify(input, {
                                whitelist: tagOptions
                            });
                        </script>
                        <input type = text id = 'tags' class = "form-control" name='tags' placeholder='Enter tags'>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Projects Belong to </label>
                    <div class="col-sm-10">
                        <script>
                            var input = document.querySelector('input[name=projects]');
                            var projectOptions = {{ project_options|safe }};
                                tagify1 = new Tagify(input, {
                                        whitelist : projectOptions
                                });
                        </script>
                        <input type = text id = 'projects' class = "form-control" name='projects' placeholder='Enter project name'>
                    </div>
                  </div>
        </div>
        </div>
        </div>
        </div>
        <!-- Search Button -->
        <br>
        <button onclick="performSearch()" class="btn btn-primary">Search</button>
        </form>
        </div>

    </div>
    <div id="loadingSpinner" class="text-center" style="display: none;">
        <div class="spinner-border" role="status">
            <span class="sr-only">Searching...</span>
        </div>
    </div>
    
    <!-- Search Results -->
    <div id="searchResults" name = "searchResults"></div>



        


</body>
</html>
