<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Scrollable PDF Viewer</title>
    <script src="{% static 'pdfjs-express/webviewer.min.js' %}"></script>

    <style>
        #pdf-container {
            width: 100%;
            text-align: center;
        }
        .pdf-page-canvas {
            margin-bottom: 1em;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }
    .textLayer {
            position: absolute;
            left: 0;
            top: 0;
            color: transparent;
            overflow: hidden;
            pointer-events: none;
            font-family: sans-serif;
        }
    </style>
</head>
<body>

<div id="pdf-container">

    <iframe
  src="{% static 'pdfjs/web/viewer.html' %}?file={% static 'd42a0cd9-fdfd-4639-a38c-a85b08cd37a7.pdf' %}"
  width="100vw"
  height="100vh">
</iframe>

  
</div>
</body>
</html>
