<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Scrollable PDF Viewer</title>
    <style>
        #pdf-container {
            width: 100%;
            text-align: center;
        }
        .pdf-page-canvas {
            margin-bottom: 1em;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }
    .textLayer {
            position: absolute;
            left: 0;
            top: 0;
            color: transparent;
            overflow: hidden;
            pointer-events: none;
            font-family: sans-serif;
        }
    </style>
</head>
<body>

<div id="pdf-container">
<script type="module" src="{% static 'pdf_viewer.js' %}"></script>
</div>
</body>
</html>
